{% extends 'layout.html' %} {% block body %}
<div class="">
    <h1>Welcome to Squawker</h1>
    {% if not logged_in %}
    <a href="/login">
        <img src="../static/images/sign-in.png" alt="Twitter Login Button">
    </a>
    {% endif %}
</div>
{% if logged_in %}
    {% if tweet.tweet_type == 'retweet' %}
        {% include 'includes/_retweet.html' %}
    {% elif tweet.tweet_type == 'quote' %}
        {% include 'includes/_quote.html' %}
    {% elif tweet.tweet_type == 'tweet' %}
        {% include 'includes/_tweet.html' %}
    {% endif %}
    {# <p>{{tweet._json}}</p> #}
{% endif %} 
{% endblock %}