// Colors

$color-white: white;
$color-black: black;
$color-primary: rgb(70, 10, 200);
$color-primary-light: rgb(140, 115, 200);
$color-gray: gray;
$color-border: lightgray;
$color-background: rgba(0, 0, 0, .8);
// Distances / offsets

$timeline-header-height: 6rem;

$setup-actions-height: 5rem;
$setup-name-height: 2rem;

$navbar-height: 10vh;

$skew-offset: 5deg;