// Colors

$color-white: white;

$color-primary: rgb(70, 10, 200);

// Distances / offsets

$timeline-header-height: 6rem;

$setup-actions-height: 5rem;
$setup-name-height: 2rem;

$navbar-height: 10vh;