<nav class="site-navbar" id="site-navbar">
    <div class="site-navbar-item">
        <a href="../t">
        <img src="../../../static/images/home{{home_selected}}.png" alt="Home" class="site-navbar-img" id="site-navbar-home-img">
        </a>
    </div>
    <div class="site-navbar-item">
        <a href="../setup">
        <img src="../../../static/images/setup{{setup_selected}}.png" alt="Setup" class="site-navbar-img" id="site-navbar-setup-img">
        </a>
    </div>
    <div class="site-navbar-item">
        <a href="../about">
        <img src="../../../static/images/about{{about_selected}}.png" alt="About" class="site-navbar-img" id="site-navbar-about-img">
        </a>
    </div>
</nav>