*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 1rem is 10px
    font-size: 62.5%;

    font-family: 'Roboto', sans-serif;

    // @include respond(tab-land) {
    //     font-size: 56.25%; //1rem is 9px
    // }

    // @include respond(tab-port) {
    //     font-size: 50%; //1rem is 8px
    // }


    // @include respond(big-desktop) {
    //     font-size: 75%; //1rem is 12px
    // }
}

body {
    // padding: 3rem;
    box-sizing: border-box;
}