// Page styling for setup page

.setup-users-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: $setup-actions-height;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10;
    background-color: gray;

    &__button {
        height: 75%;
        padding: 3px;
    }
}

.setup-users-name {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: $setup-name-height;

    position: fixed;
    top: $setup-actions-height;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: lightgray;
}


.setup-users-container {
    display: flex;
    margin-top: 1px;
    border-top: 1px solid lightgray;

    position: fixed;
    left: 0;
    right: 0;
    top: $setup-actions-height + $setup-name-height;
    bottom: $navbar-height;
    overflow: auto;
}

.available-users-container {
    width: 50%;
}

.chosen-users-container {
    width: 50%;
}