{% extends 'layout.html' %} 
{% block body %}
<div class="setup-users-container">
    <div class="available-users-container" id="available-users-container">
        {% for user in available_friends %}
            {% include 'includes/user/_user_selectable.html' %}
        {% endfor %}
    </div>
    <div class="chosen-users-container" id="chosen-users-container">
        {% for user in chosen_friends %}
            {% include 'includes/user/_user_selectable.html' %}
        {% endfor %}
    </div>
    <script src="../static/js/setupProcessing.js"></script>
</div>
{% endblock %}