{% extends 'layout.html' %} 
{% block body %}
<div class="setup-users-actions">
    <button class="setup-users-actions__button button-green" id="action-button-save">Save settings</button>
    <button class="setup-users-actions__button button-red" id="action-button-clear">Clear settings</button>
    <button class="setup-users-actions__button button-purple" id="action-button-load">My Flocks</button>
    <button class="setup-users-actions__button button-blue" id="action-button-timeline">Go to Timeline</button>
</div>
<div class="setup-users-name">
    <label for="flock-name">Flock Name</label>
    <input type="text" name="flock-name" id="setup-users-name-input" placeholder="Name of flock" value="{{flock_name}}">
</div>
<div class="setup-users-container">
    <div class="available-users-container" id="available-users-container">
        {% for user in available_friends %}
            {% include 'includes/user/_user_selectable.html' %}
        {% endfor %}
    </div>
    <div class="chosen-users-container" id="chosen-users-container">
        {% for user in chosen_friends %}
            {% include 'includes/user/_user_selectable.html' %}
        {% endfor %}
    </div>
    <script src="../static/js/setupProcessing.js"></script>
</div>
{% endblock %}