{% extends 'layout.html' %} 
{% block body %}
{% for tweet in tweets %}
    <div class="tweet-container" id="{{tweet.id_str}}">
        {% include 'includes/user/_user_profile_picture.html' %}
        <div class="tweet-body-container">
            {% if 'retweet' in tweet.tweet_types %}
                {% include 'includes/tweet/_retweet-username.html' %}
            {% endif %}
            {% include 'includes/tweet/_tweet.html' %}
            {% if 'quote' in tweet.tweet_types %}
                {% include 'includes/tweet/_quote.html' %}
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}